<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hover Dropdown Example </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body> 
        <p id="routes_to_dropdown"></p>
        <!-- <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class = "dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
            </div>
        </div> -->
        <script src="routes_dropdown.js"></script>
        <br><br>
        <span id='result'>The next bus arrives at [07:00 AM] </span>


    </body>
</html>