/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
    background: #000000;
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}


/* for toggle behavior */

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}


/*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */

body {
    background: #000000;
    min-height: 100vh;
    overflow-x: hidden;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
}

.separator {
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

p {
    
    font-size: 16px;
    color: black;
}

p.thicker {
    font-weight: 900;
    font-size: large
  }

.mystyle {
    color: green;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #ffffff;
    /* White */
    color: #000000;
    /* Black */
}

.bg-2 {
    background-color: #bebebe;
    /* Dark Blue */
    color: #000000;
}

.bg-3 {
    background-color: #bebebe;
    /* White */
    color: #000000;
}

.bg-4 {
    background-color: #fa9e05;
    /* Orange */
    color: #ffffff;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    list-style-type: none;
    border: 0;
    background-color: #fa9e05;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #000000 !important;
}

.navbar-brand small {
    display: block;
    font-size: 14px;
}

.nav.navbar-nav a {
    padding-top: 30px;
    padding-bottom: 30px;
}
